<div class="card">
  <div class="card-header">
    <h1>Team à l'arrache</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">Moussaillons: Claudia et Maxence</h5>
    <p class="card-text">email de Claudia: claudiapartonnau@gmail.com <br/>
      email de Maxence: kiger.maxence@gmail.com </p>
  </div>
</div>
